@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,200&display=swap');

:root {
  --header : #f89604;
  --pr:linear-gradient(45deg, #ffcc00d0, #f89604);
}
*{
  font-family: 'Poppins', sans-serif;
}
/* Reset some default styles */
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding: 80px 0;
  background: linear-gradient(45deg, #ffcc00d0, #f89604);
}

/* container */
.container {
  margin: 0 auto;
  width: 100%;
}

.flagID {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}



/* navbar */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header);
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: gray;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-links li {
  margin-right: 20px;
}

 a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 1;
  margin-left: 5px;

}
 a:hover {
  text-decoration: none;
  color: rgb(245, 244, 244);
}


/* input */
.input-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 10px;
  position: relative;
}

.futuristic-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ffcc00d0;
  background-color: transparent;
  outline: none;
  color: white;
  transition: border-bottom-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 0; /* Optional: Removes input border-radius */
  flex: 1; /* Take up remaining space in the container */
}

.futuristic-input::placeholder {
  color: #95a5a6;
}

.futuristic-input:focus {
  border-bottom-color: black;
  color: black;
}

.futuristic-button {
  margin-left: -40px; /* Adjust the margin as needed */
  /* padding: 10px 20px; */
  /* background-color: #ffcc00d0; */
  background-color: #ffcc00;
  outline: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.futuristic-button:hover {
  background-color: transparent;
  color: black;
}

.abs {
  position: absolute;
  color: white;
}

/* animasi */
.coin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ffee00; /* Warna biru futuristik */
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(14, 216, 216, 0.8); /* Efek glowing */
    animation: rotateCoin 2s linear infinite, scaleCoin 2s ease-in-out infinite;
  }

  @keyframes rotateCoin {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }

  @keyframes scaleCoin {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

/* tampilan */
/* @media screen and (max-width: 600px) {

  .nav-links a {
    display: none;

  }

} */
